
.vs/Encrypt-Decrypt-String-NET/v16/.suo
.vs/Encrypt-Decrypt-String-NET/v16/Server/sqlite3/db.lock
.vs/Encrypt-Decrypt-String-NET/v16/Server/sqlite3/storage.ide
.vs/Encrypt-Decrypt-String-NET/v16/Server/sqlite3/storage.ide-shm
.vs/Encrypt-Decrypt-String-NET/v16/Server/sqlite3/storage.ide-wal
